<nav
  class="flex justify-around font-analogue font-medium text-lightBlue md:flex-col md:gap-y-8 md:px-10 md:text-xl"
>
  <nav-item
    image="blue-identity"
    name="Profile"
    [isActive]="activeSection === Section.Profile"
    (onClickItem)="redirectTo($event)"
    [section]="Section.Profile"
  />
  <nav-item
    image="blue-technology"
    name="Skills"
    [isActive]="activeSection === Section.Skills"
    (onClickItem)="redirectTo($event)"
    [section]="Section.Skills"
  />
  <nav-item
    image="blue-stack"
    name="Projects"
    [isActive]="activeSection === Section.Projects"
    (onClickItem)="redirectTo($event)"
    [section]="Section.Projects"
  />
  <nav-item
    image="blue-study"
    name="Education"
    [isActive]="activeSection === Section.Education"
    (onClickItem)="redirectTo($event)"
    [section]="Section.Education"
  />
</nav>
