<div class="flex flex-col gap-3">
  <h2 class="text-2xl font-medium text-lightBlue md:text-3xl">
    Hi there! I’m -
  </h2>
  <h1
    class="text-gradient inline-block bg-gradient-to-r from-lightBlue to-purple bg-clip-text pl-5 text-4xl font-medium text-transparent md:pl-8 md:text-6xl"
  >
    Hicham Guessab
  </h1>
  <p class="pl-5 font-analogue text-lg font-medium md:pl-8 md:text-2xl">
    Software Engineer
  </p>
</div>
<p class="ml-8 font-analogue font-light sm:text-lg md:text-xl">
  Hello, I'm Hicham, student in my second year of a Master's degree in computer
  science at the University of Avignon.
  <br />
  <br />
  Alongside my studies, I'm working as a part-time student, but I also work as a
  freelance
  <strong
    class="bg-gradient-to-r from-lightBlue to-purple bg-clip-text text-transparent"
  >
    web and mobile developer.
  </strong>
  <br />
  I've contributed to a variety of projects, including
  <strong
    class="bg-gradient-to-r from-lightBlue to-purple bg-clip-text text-transparent"
  >
    SaaS platforms
  </strong>
  and showcase sites.
  <br />
  <br />
  Although I specialize in
  <strong
    class="bg-gradient-to-r from-lightBlue to-purple bg-clip-text text-transparent"
  >
    front-end
  </strong>
  development using Angular and TypeScript technologies, I'm very
  <strong
    class="bg-gradient-to-r from-lightBlue to-purple bg-clip-text text-transparent"
  >
    versatile
  </strong>
  and can quickly adapt to other technologies.
</p>
<div class="flex flex-wrap place-content-evenly gap-3">
  <badge [image]="BlueImage.Github" [url]="Link.Github" name="Github" />
  <badge [image]="BlueImage.Linkedin" [url]="Link.LinkedIn" name="LinkedIn" />
  <badge
    [image]="BlueImage.At"
    [url]="Link.Email"
    name="contact@hichamguessab.com"
  />
</div>
