<swiper-container
  pagination="true"
  direction="vertical"
  class="h-screen w-screen text-white"
  css-mode="true"
>
  <swiper-slide class="flex items-center justify-center">
    <profile-section class="w-3/4" />
  </swiper-slide>
  <swiper-slide class="flex items-center justify-center">
    <skills-section class="w-2/4" />
  </swiper-slide>
  <swiper-slide class="flex flex-col items-center justify-center">
    <experience-section class="w-3/4" />
  </swiper-slide>
  <swiper-slide class="flex flex-col items-center justify-center">
    <education-section class="w-3/4" />
  </swiper-slide>
  <swiper-slide class="flex items-center justify-center">
    <projects-section class="w-3/4" />
  </swiper-slide>
</swiper-container>
