<section>
  <div class="flex flex-col gap-7 text-left">
    <div class="flex flex-col gap-3">
      <h2 class="text-4xl font-medium text-lightBlue">Hi there! I’m -</h2>
      <h1
        class="text-gradient inline-block bg-gradient-to-r from-lightBlue to-purple bg-clip-text pl-8 text-6xl font-medium text-transparent"
      >
        Hicham Guessab
      </h1>
      <p class="pl-8 font-analogue text-2xl font-medium">Software Engineer</p>
    </div>
    <p class="ml-8 font-analogue text-xl font-light">
      Hello, I'm Hicham, student in my second year of a Master's degree in
      computer science at the University of Avignon.
      <br />
      <br />
      Alongside my studies, I'm working as a part-time student, but I also work
      as a freelance web and mobile developer.
      <br />
      I've contributed to a variety of projects, including SaaS platforms,
      commerce sites, showcase sites...
      <br />
      <br />
      Although I specialize in front-end development using Angular and
      TypeScript technologies, I'm very versatile and can quickly adapt to other
      technologies.
    </p>
    <div class="mx-10 mt-5 flex place-content-between">
      <badge image="blue-github" redirection="www.github.com" name="Github" />
      <badge
        image="blue-linkedin"
        redirection="www.linkedin.com"
        name="LinkedIn"
      />
      <badge
        image="blue-at"
        redirection="hichamgsb.pro@gmail.com"
        name="hichamgsb.pro@gmail.com"
      />
    </div>
  </div>
</section>
